html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* For WebKit-based browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #d2d8df;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #d2d8df;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d2d8df;
}

/* Firefox scrollbar styling (limited support) */
* {
  scrollbar-width: thin;
  scrollbar-color: #d2d8df #ffffff;
}
